{% extends 'base.html.twig' %}

{% block body %}
    <div class="modal-content">
        <h3>Edit Task</h3>
        {{ form_start(taskForm) }}
        {{ form_widget(taskForm) }}
        <button type="submit">Save Changes</button>
        {{ form_end(taskForm) }}
        <button onclick="window.history.back()">Close</button>
    </div>
{% endblock %}
