{% extends 'base.html.twig' %}

{% block body %}
    <div class="modal-content">
        <h3>Edit Event</h3>
        {{ form_start(eventForm) }}
        {{ form_widget(eventForm) }}
        <button type="submit">Save Changes</button>
        {{ form_end(eventForm) }}
        <button onclick="window.history.back()">Close</button>
    </div>
{% endblock %}
